﻿@page
@model LoginModel
@{
    ViewData["Title"] = "Home page";
}

<form method="post">
    <div>
        <label class="form-label" asp-for="Email"></label>
        <input class="form-control" asp-for="Email" />
        <span class="text-danger" asp-validation-for="Email"></span>
    </div>
    <div>
        <label class="form-label" asp-for="Password"></label>
        <input class="form-control" type="password" asp-for="Password" />
        <span class="text-danger" asp-validation-for="Password"></span>
    </div>
    <span class="text-danger">@ViewBag.ErrorMessage</span>
    <button class="m-2 btn btn-info">Login</button>
</form>
